.vscode
Packages
Assembly-CSharp.csproj
Memory Game.sln
Assets/TextMesh Pro
Assets/InputSystem_Actions.inputactions
Library
Logs
ProjectSettings
Temp
UserSettings
*.meta
*.asset
Assets/msVFX_Free Smoke Effects Pack/Prefabs/msVFX_Stylized Smoke 1.prefab
Assets/msVFX_Free Smoke Effects Pack/Prefabs/msVFX_Stylized Smoke 2.prefab
Assets/msVFX_Free Smoke Effects Pack/Prefabs/msVFX_Stylized Smoke 3.prefab